.card{
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0;
}

.card-body{
	border-radius: 0;
}
.card-header{
	height: 2px;
	margin: 0;
	padding: 0;
}

.card_inner{
	border-radius: 20px;
	border: 1px solid;
	word-wrap: break-word;
	height: 200px;
	margin: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
	height: auto;
}

.card_advise_product_name{
	font-weight: 900; 
	text-align: center;
	background-color: #DDDDDD;
	padding: 5px;
	margin-bottom: 10px;
}