.merit_demerit_box{
	margin: 30px 30px;
	padding: 10px;
	border: medium solid black;
	border-radius: 20px;
	font-size: 1.3em;
}

.risk{
  color: red;
  font-weight: 800;
  font-size: 23px;
  text-align: center;
}
.return{
  color: blue;
  font-weight: 800;
  font-size: 23px;
  text-align: center;
}