.product_name_box{
	text-align: center;
	font-size: 1.3em;
	font-weight: 800;
}
.product_link{
	text-align: center;
	color: grey;
	font-size: 1.0em;
	font-weight: 500;
}
.product_store_list{
	text-align: center;
	color: grey;
	font-size: 1.2em;
	font-weight: 700;	
}
.border-product{
	border-bottom: 9px dotted #f45e5e;
	margin-bottom: 30px;
	margin-top: 30px; 
	padding-bottom: 20px;
}